body{
    background-color: grey;
}


.App{
    margin-right: 90%;
    margin-left: 10px;
}

.cv{
   padding-left: 40%;
   padding-bottom: 0;
    margin-bottom: 0;

}


.heading{
    background-color: aliceblue;
    margin-top: 0%;
    padding-top: 2rem;
}