body{
    background-color: #56CBF9;
}


.App{
    position: absolute;
    height: 280px;
    width: 220px;
    display: flexbox;
    margin-top: 200px;
    margin-left: 10px;
    border: solid;
    font-size: 40px;
  
}

.cv{
    position: aboslute;
    height: 400px;
    width: 800px;
    float: right;
    display: flexbox;
    margin-top: 200px;
    margin-right: 30%;
    border: solid;

}


.heading{
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #EAC5D8;
    top: 0;
    left: 0;
    margin-bottom: 30px;
}

.words{
    height: 40px;
    width: 200px;
}